In [2]:
#Task 1
def even_checker(num):
    if num%2==0:
        print("Even!!")
    else:
        print("Odd!!")
even_checker(2)

Even!!

In [16]:
#Task 2
def fibonacci(num):
    num1=0
    num2=1
    if num==0:
        print(0)
    else:
        print(0,end=" ")
        print(1,end=" ")
        n=0
        while True:
            n = num1+num2
            if n>num:
                break
            print(n,end=" ")
            num1=num2
            num2=n
fibonacci(0)

0

In [55]:
#Task 3
def foo_moo(num):
    if num%2==0 and num%3==0:
        return "FooMoo"
    elif num%2==0:
        return "Foo"
    elif num%3==0:
        return "Moo"
    else:
        return "Boo"
print(foo_moo(5))

Boo

In [23]:
#Task 4:
def function_name(s):
    s=str(s)
    upper=0
    lower=0
    for i in s:
        if i>='A' and i<='Z':
            upper=upper+1
        elif i>='a' and i<='z':
            lower=lower+1
    print("No. of Uppercase characters :",upper)
    print("No. of Lowercase Characters:",lower)

No. of Uppercase characters : 5
No. of Lowercase Characters: 6
No. of Uppercase characters : 3
No. of Lowercase Characters: 12

In [34]:
#Task 5
#question confusing
#def er vitore input nite hobe naki baire?
age = int(input("Enter your age:"))
salary = int(input("Enter your salary:"))
job = input("Enter your job designation:")
job = job.lower
def calculate_tax(age,salary,job):
    if age<18 or job=='president' or salary<10000:
        return 0
    elif 10000<=salary<=20000:
        return (salary*5*(1/100))
    else:
        return (salary*10*(1/100))
calculate_tax(age,salary,job)

0

In [40]:
#Task 6
days=int(input("Enter the number of days:"))
def function_name(days):
    years=days//365
    months=(days%365)//30
    day = (days % 365)%30
    print(years,"years,",months,"months and",day,"days")
function_name(days)

11 years, 10 months and 15 days

In [1]:
# Task 7
def show_palindrome(num):
    str1 = ""
    for i in range(1, num+1):
        str1 = str1+str(i)
    str2=str1[-2::-1]
    str1 = str1+str2
    return str1


print(show_palindrome(5))

123454321

In [27]:
#Task 8
def show_palindrome(num):
    str1=""
    for i in range(1,num+1):
        str1=str1+str(i)
    for i in range(num-1,0,-1):
        str1=str1+str(i)
    return str1


def show_palindromic_triangle(number):
    str3=" "
    for i in range(1,number+1):
        str2=show_palindrome(i)
        print(str3*((number-i)*2), end="")
        for j in str2:
            print(j,end=" ")
        print(str3*((number-i)*2))

show_palindromic_triangle(3)

    1
  1 2 1
1 2 3 2 1

In [2]:
#Task 9
#problem
import math
def area_circumference_generator(radius):
    area=math.pi*(radius**2)
    circumference=2*math.pi*radius
    tuple1=(area,circumference)
    a,b=tuple1
    print("Area of the circle is", a, "and circumference is",b)
    return tuple1
area_circumference_generator(1)

Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

(3.141592653589793, 6.283185307179586)

In [11]:
#Task 10
def make_square(tuple1):
    a,b=tuple1
    dic={}
    for i in range(a,b+1):
        dic[i]=i**2
    return dic


make_square((1, 3))

{1: 1, 2: 4, 3: 9}

In [3]:
#Task 11
def rem_duplicate(tuple1):
    list1=list(tuple1)
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
    return tuple(list2)


print(rem_duplicate((1, 1, 1, 2, 3, 4, 5, 6, 6, 6, 6, 4, 0, 0, 0)))

print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi", 'a', 'a', [1, 2])))

(1, 2, 3, 4, 5, 6, 0)
('Hi', 1, 2, 3, 'a', [1, 2])

In [17]:
#Task 12
def function_name(list1):
    list_name=[]
    for i in list1:
        if list_name.count(i)<2:
            list_name.append(i)
    print("Removed:",(len(list1)-len(list_name)))
    return list_name

function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

Removed: 2

[1, 2, 3, 3, 4, 5, 8, 8]

In [20]:
#Task 13
operator=input("Enter a operator:")
operand1=float(input("Enter 1st operand:"))
operand2=float(input("Enter 2nd operand:"))
def function_name(operator,operand1,operand2):
    if operator=='+':
        return operand1+operand2
    elif operator=="-":
        return operand1-operand2
    elif operator=="*":
        return operand1*operand2
    elif operator=="/":
        return operand1/operand2
function_name(operator,operand1,operand2)

13.75

In [43]:
#Task 14
sentence=input("Enter a sentence:")
position=int(input("Enter a position:"))
def function_name(sentence,position):
    str1=sentence[0]
    str2=""
    for i in range(1,len(sentence)):
        if i%position==0:
            str2=str2+sentence[i]
        else:
            str1=str1+sentence[i]
    str3=str1+str2
    print(str3)
function_name(sentence,position)

Pythonis eay to earn.I lov pythn. sl eo

In [54]:
#Task 15
order_items=input("Enter a list:")
order_items = order_items.replace("[", "").replace("]", "").replace('"',"").replace(" ","").split(",")
def function_name(list1,location="Dhanmondi"):
    dict = {'Rice': 105, 
            'Potato': 20,
            'Chicken': 250,
            'Beef': 510,
            'Oil': 85}
    price=0
    for items in list1:
        if items in dict.keys():
            price=price+dict[items]
    if location=="Dhanmondi":
        price=price+30
    else:
        price=price+70
    return price
print(function_name(order_items,"Moha"))

685

In [5]:
# Task 16
x = 0
y = 0
sum = 0
p = 0.0
while (x < 9):
    y = x/2
    while (y < x):
        p = (x + 5.0) / 2
        sum = sum+2 + x + y*2 + int(p)
        print(sum)
        y = y+1
    x = x+2
    if (x > 5):
        sum = 2
    else:
        sum += 3

12.0
29.0
45.0
21.0
42.0
65.0
26.0
52.0
80.0
110.0

In [7]:
#Task 2 of nibir
def fibonacci(x):
    a=0
    b=1
    if x==0:
        print(a)
    else:
        print(a,b,end=" ")
        for i in range(1,x+1):
            c=a+b
            a=b
            b=c
            if c<=x:
                print(c,end=" ")
    return " "
num=int(input("Enter num"))
print(fibonacci(num))

0 1 1 2 3

In [45]:
#Task 17
x = 0
y = 0
sum = 0
while (x < 10):
    y = x - 3
    y = 40
    while (y > 22):
        if ((sum > 30) and (sum < 40)):
            sum=sum+x*2
        elif((sum > 40) and (sum < 50)):
            sum = sum + x * 3
        else:
            sum = sum + 23
        print(sum)
        y=y-10
    x+=2

23
46
52
75
98
121
144
167
190
213

In [1]:
#Task 18
x=y=0
sum=0
while (x<10):
    y=x-3
    while (y<3):
        sum = x - y * 2
        print(sum)
        y = y + 1
    if (x>7):
        x+=1
    else:
        x+=3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

In [9]:
# Task 19
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 12):
    q = x + p - (sum + int(5 / 3)) / 3.0 % 2
    sum = sum + x + int(q)
    x += 1
    print(sum)
    if (x > 5):
        p += int(4 / 2)
    else:
        p += 3 % 1
sum = sum+p
print(sum)

4
9
16
25
39
56
78
104
134
147

In [2]:
#Task 20
i = 2
j = 0
k = 17
test = "-->dog"
while i < 7:
    k -= 1
    j = k
    while j > 12:
        if (j % 2 == 0):
            test += "<--"
            test = test + str(i) + str(j // 2)
        else:
            test += "-->"
            test = test + str(i // 2) + str(j)
        print(test)
        j -= 1
    i+=1

-->dog<--28
-->dog<--28-->115
-->dog<--28-->115<--27
-->dog<--28-->115<--27-->113
-->dog<--28-->115<--27-->113-->115
-->dog<--28-->115<--27-->113-->115<--37
-->dog<--28-->115<--27-->113-->115<--37-->113
-->dog<--28-->115<--27-->113-->115<--37-->113<--47
-->dog<--28-->115<--27-->113-->115<--37-->113<--47-->213
-->dog<--28-->115<--27-->113-->115<--37-->113<--47-->213-->213

In [3]:
#task 21
test = ""
i = 5
j = 0
k = 15
while (i < 10):
    k -= 1
    j = k
    while (j>10):
        if j%2==0:
            test = "<--"
            test = test + str(i) + '3' + "-->" + str(j // 3)
        else:
            test = "-->"
            test = "-->" + str((i // 3)) + test + str(j)
        print(test)
        j -=1
    i +=1

<--53-->4
-->1-->13
<--53-->4
-->1-->11
-->2-->13
<--63-->4
-->2-->11
<--73-->4
-->2-->11
-->2-->11

In [4]:
#Task 22
i = 10
while(i >= -20):
    if(i < 0):
        test = " != "
        test = str(i//2) + test + str(int(i/2))
    else:
        test = " == "
        test = str(i//2) + test + str(int(i/2))
    print(test)
    i -=5

5 == 5
2 == 2
0 == 0
-3 != -2
-5 != -5
-8 != -7
-10 != -10

In [74]:
#Task 23
def splitting_money(amount):
    note500=amount//500
    remaining=amount%500
    note100=remaining//100
    remaining=remaining%100
    note50=remaining//50
    remaining=remaining%50
    note20=remaining//20
    remaining=remaining%20
    note10=remaining//10
    remaining=remaining%10
    note5=remaining//5
    remaining=remaining%5
    note2=remaining//2
    remaining=remaining%2
    note1=remaining
    return ("500 Taka: "+str(note500)+" note(s)\n"
            "100 Taka: "+ str(note100)+" note(s)\n"
            "50 Taka: "+str(note50)+" note(s)\n"
            "20 Taka: "+ str(note20)+" note(s)\n"
            "10 Taka: "+str(note10)+" note(s)\n"
            "2 Taka: "+str(note2)+" note(s)\n")
print(splitting_money(1234))

500 Taka: 2 note(s)
100 Taka: 2 note(s)
50 Taka: 0 note(s)
20 Taka: 1 note(s)
10 Taka: 1 note(s)
2 Taka: 2 note(s)

In [75]:
#Task 24
def remove_odd(list1):
    list2=[]
    for i in list1:
        if i%2==0:
            list2.append(i)
    return list2


remove_odd([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])

[44, 66, 88, 10]